<!-- Get 5 last posted/updated posts -->

{% assign MAX_SIZE = 5 %}

{% assign all_list = '' | split: '' %}

{% for post in site.posts %}
  {% assign datetime = post.last_modified_at | default: post.date %}

  {% capture elem %}
    {{- datetime | date: "%Y%m%d%H%M%S" -}}::{{- forloop.index0 -}}
  {% endcapture %}

  {% assign all_list = all_list | push: elem %}
{% endfor %}

{% assign all_list = all_list | sort | reverse %}

{% assign update_list = '' | split: '' %}

{% for entry in all_list limit: MAX_SIZE %}
  {% assign update_list = update_list | push: entry %}
{% endfor %}

{% if update_list.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.lastmod -}}</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for item in update_list %}
        {% assign index = item | split: '::' | last | plus: 0 %}
        {% assign post = site.posts[index] %}
        {% assign url = post.url | relative_url %}
        <li class="text-truncate lh-lg">
          <a href="{{ url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <!-- #access-lastmod -->
{% endif %}

{%- comment -%}
  테마 원본에 아래 한 줄만 덧붙였습니다. 패널은 _layouts/default.html 의
  .access 블록에서 update-list -> trending-tags 순으로 조립되는데, 그 사이에
  끼워 넣을 훅이 없어서 여기에 붙였습니다. default.html 을 통째로 덮어쓰는
  것보다 유지보수 면적이 작습니다.
{%- endcomment -%}
{% include popular-posts.html %}
